@using LIB.BaseModels;
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using WebAPI.Models;
@inject IHttpContextAccessor HttpContextAccessor

<div class="headerbar">

    <!-- LOGO -->
    <div class="headerbar-left">
        <a href="@Url.Action("Index","Index")" class="logo">
            <img alt="Logo" src="~/assets/images/apple-touch-icon.png" />
            <span>TheWayShop</span>
        </a>
    </div>

    <nav class="navbar-custom">
        <ul class="list-inline float-right mb-0">
            <li class="list-inline-item dropdown notif">
                <a class="nav-link dropdown-toggle arrow-none">
                    <i class="far fa-envelope color_font_custom"></i>
                    <span class="notif-bullet"></span>
                </a>
                <div class="dropdown-content">
                    <div class="dropdown-list">
                        <div class="header-mess">
                            <h5>
                                <small>Tin nhắn</small>
                            </h5>
                        </div>
                        <a href="" class="list-mess">
                            <p class="custom-list-mess">
                                <b>Tên người gửi</b>
                                <span>aaaa</span>
                                <small>5 phút trc</small>
                            </p>
                        </a>
                        <a href="" class="list-mess">
                            <p class="custom-list-mess">
                                <b>Tên người gửi</b>
                                <span>aaaa</span>
                                <small>5 phút trc</small>
                            </p>
                        </a>
                        <a href="" class="list-mess">
                            <p class="custom-list-mess">
                                <b>Tên người gửi</b>
                                <span>aaaa</span>
                                <small>5 phút trc</small>
                            </p>
                        </a>
                        <div class="header-mess">
                            <a href="@Url.Action("Mail_All","Mail_All")">
                                <h5>
                                    <small>Xem tất cả</small>
                                </h5>
                            </a>
                        </div>

                    </div>
                </div>
            </li>

            <li class="list-inline-item dropdown notif">
                <a class="nav-link dropdown-toggle nav-user">
                    <img src="~/assets/images/avatars/admin.png" alt="Profile image" class="avatar-rounded">
                </a>
                <div class="dropdown-content">
                    @{
                        var session = HttpContextAccessor.HttpContext.Session;
                        string json = session.GetString("UserInfo");
                        UserInfoModel curUser = JsonConvert.DeserializeObject<UserInfoModel>(json);
                        var jsonInfo = JsonConvert.SerializeObject(curUser.Info);
                        var Info = JsonConvert.DeserializeObject<User>(jsonInfo);
                         
                        <div class="dropdown-list-user">
                            <div class="header-mess">
                                <h5>
                                    <small>@Info.UserName</small>
                                </h5>
                            </div>
                            <a href="@Url.Action("Profile","Profile")" class="list-mess">
                                <i class="fas fa-user"></i>
                                <span>Thông tin</span>
                            </a>
                            <a href="@Url.Action("Logout","Login")" class="list-mess">
                                <i class="fas fa-power-off"></i>
                                <span>Đăng xuất</span>
                            </a>
                        </div>
                    }

                </div>



            </li>

        </ul>



    </nav>

</div>
<!-- End Navigation -->
<!-- Left Sidebar -->
<div class="left main-sidebar">

    <div class="sidebar-inner leftscroll">

        <div id="sidebar-menu">

            <ul>
                <li class="submenu">
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString() =="Index"? "active":"")" href="@Url.Action("Index","Index")">
                        <i class="fas fa-bars"></i>
                        <span> Home </span>
                    </a>
                </li>
                <li class="submenu">
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString() =="Order"? "active":"")" href="@Url.Action("Index","Order")">
                        <i class="fas fa-file-alt"></i>
                        <span> Duyệt đơn hàng </span>
                    </a>
                </li>
                <li class="submenu">
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString() =="Category"? "active":"")" href="@Url.Action("Index","Category")">
                        <i class="fas fa-file-alt"></i>
                        <span> Loại sản phẩm </span>
                    </a>
                </li>
                <li class="submenu">
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString() =="Product"? "active":"")" href="@Url.Action("Index","Product")">
                        <i class="fas fa-user"></i>
                        <span> Tất cả sản phẩm </span>
                    </a>
                </li>

                <li class="submenu">
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString() =="ProductSize"? "active":"")" href="@Url.Action("Index","ProductSize")">
                        <i class="fas fa-file-alt"></i>
                        <span> Kích thước </span>
                    </a>
                </li>
                <li class="submenu">
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString() =="News"? "active":"")" href="@Url.Action("Index","News")">
                        <i class="fas fa-file-alt"></i>
                        <span> Tin tức </span>
                    </a>
                </li>
                <li class="submenu">
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString() =="User"? "active":"")" href="@Url.Action("Index","User")">
                        <i class="fas fa-file-alt"></i>
                        <span> Tài khoản </span>
                    </a>
                </li>
                <li class="submenu">
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString() =="Mail_All"? "active":"")" href="@Url.Action("Mail_All","Mail_All")">
                        <span class="label radius-circle bg-danger float-right">18</span>
                        <i class="fas fa-envelope"></i>
                        <span> Hộp thư </span>
                    </a>
                </li>
                <li class="submenu">
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString() =="ADS"? "active":"")" href="@Url.Action("Index","ADS")">
                        <i class="fas fa-photo-video"></i>
                        <span> Quảng Cáo </span>
                    </a>
                </li>
                <li class="submenu">
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString() =="Slide"? "active":"")" href="@Url.Action("Slide","Slide")">
                        <i class="fas fa-photo-video"></i>
                        <span> Slider </span>
                    </a>
                </li>




            </ul>



        </div>



    </div>

</div>
<!-- End Sidebar -->
