

<!-- Start Main Top -->
<div class="main-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="right-phone-box">
                    <p>Call US :- <a href="#"> +11 900 800 100</a></p>
                </div>
                <div class="our-link">
                    <ul>
                        <li><a href="#">My Account</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Top -->
<!-- Start Main Top -->
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" asp-controller="TheWayShop" asp-action="Index"><img src="~/images/logo.png" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul id="a" class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() =="Index"? "active":"")">
                        <a class="nav-link" asp-controller="TheWayShop" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() =="About"? "active":"") ">
                        <a class="nav-link" asp-controller="TheWayShop" asp-action="About">About Us</a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() =="Product"? "active":"")">
                        <a class="nav-link" asp-controller="TheWayShop" asp-action="Product">PRODUCT</a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() =="NEWS"? "active":"")">
                        <a class="nav-link" asp-controller="TheWayShop" asp-action="NEWS">News</a>
                    </li>
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                        <ul class="dropdown-menu">
                            <li class="custom-li-menu">
                                <a asp-controller="TheWayShop" asp-action="Cart">Cart</a>
                            </li>
                            <li class="custom-li-menu">
                                <a asp-controller="TheWayShop" asp-action="CheckOut">Checkout</a>
                            </li>
                            <li class="custom-li-menu">
                                <a asp-controller="TheWayShop" asp-action="My_Account">My Account</a>
                            </li>
                            <li class="custom-li-menu">
                                <a asp-controller="TheWayShop" asp-action="Wish_List">Wishlist</a>
                            </li>
                            <li class="custom-li-menu">
                                <a asp-controller="TheWayShop" asp-action="Product_Detail">Shop Detail</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() =="Contact_Us"? "active":"")">
                        <a class="nav-link" asp-controller="TheWayShop" asp-action="Contact_Us">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    <li class="side-menu">
                        <a href="@Url.Action("Cart","TheWayShop")">
                            <i class="fa fa-shopping-bag"></i>
                            <span class="badge">3</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>
      
    </nav>
    <!-- End Navigation -->
</header>
<!-- End Main Top -->
<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>
