@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor

<!-- Start Main Top -->
<div class="main-top">
    <div class="container">
        <div class="row box-header">
            <div class=" box-header-left">
                <div class="header-phone">
                    <p>Cần mua hàng?</p>
                    <p>Gọi ngay&nbsp;<strong>1800.1111</strong></p>
                </div>
            </div>
            <div class=" box-header-right">
                <div class="chosse-lang">
                    <label for="cars">Chọn ngôn ngữ:</label>
                    <select name="lang" id="lang">
                        <option value="VN">VN</option>
                        <option value="EN">EN</option>
                    </select>
                </div>
                @if (Context.Session.GetString("user1") != null)
                {
                    <div class="avatar">
                        <a class="btn btn-avatar">
                            Welcome, <span> @Context.Session.GetString("userHello") </span>
                        </a>
                        <ul class="dropdown-menu-avatar">
                            <li class="custom-li-avatar">
                                <a asp-controller="Cart" asp-action="Cart">GIỎ HÀNG</a>
                            </li>
                            <li class="custom-li-avatar">
                                <a asp-controller="User" asp-action="ĐonHang">ĐƠN HÀNG</a>
                            </li>
                            <li class="custom-li-avatar">
                                <a asp-controller="TheWayShop" asp-action="My_Account">TÀI KHOẢN</a>
                            </li>
                            <li class="custom-li-avatar">
                                <a asp-controller="TheWayShop" asp-action="Wish_List">YÊU THÍCH</a>
                            </li>
                            <li class="custom-li-avatar">
                                <a asp-controller="User" asp-action="Logout">ĐĂNG XUẤT</a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="member">
                        <a class="btn" onclick="showModal('@Url.Action("Index","User",null,Context.Request.Scheme)','Đăng ký tài khoản','Nhanh chóng và dễ dàng.')">Đăng ký</a>
                        <span>/</span>
                        <a class="btn" onclick="showModal('@Url.Action("LoginIndex","User",null,Context.Request.Scheme)','Đăng nhập tài khoản','Trải nghiệm mua hàng.')">Đăng nhập</a>
                    </div>
                }


            </div>
        </div>
    </div>
</div>
<!-- End Main Top -->
<!-- Start Main Top -->
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand fix_header" asp-controller="TheWayShop" asp-action="Index"><img src="~/images/logo.png" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul id="a" class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() =="Index"? "active":"")">
                        <a class="nav-link" asp-controller="TheWayShop" asp-action="Index">HOME</a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() =="About"? "active":"") ">
                        <a class="nav-link" asp-controller="TheWayShop" asp-action="About">VỀ CHÚNG TÔI</a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() =="Product"? "active":"")">
                        <a class="nav-link" asp-controller="TheWayShop" asp-action="Product">SẢN PHẨM</a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() =="NEWS"? "active":"")">
                        <a class="nav-link" asp-controller="TheWayShop" asp-action="NEWS">TIN TỨC</a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() =="Contact_Us"? "active":"")">
                        <a class="nav-link" asp-controller="TheWayShop" asp-action="Contact_Us">LIÊN HỆ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <!-- Start Atribute Navigation -->

            <div class="attr-nav">
                <ul>
                    <li class="side-menu">
                        <a href="@Url.Action("Cart","Cart")">
                            <i class="fa fa-shopping-bag"></i>
                            @if(HttpContextAccessor.HttpContext.Session.GetString("Cart_Key") != null)
                            {
                                var session = HttpContextAccessor.HttpContext.Session;
                                string jsoncart = session.GetString("Cart_Key");
                                List<Order_Details> lst = JsonConvert.DeserializeObject<List<Order_Details>>(jsoncart);
                                <span class="badge">@lst.Count</span>
                            } 
                        </a>
                    </li>
                </ul>
            </div>


            <!-- End Atribute Navigation -->
        </div>

    </nav>
    <!-- End Navigation -->
</header>
<!-- End Main Top -->
<!-- Start Top Search -->

