@model WebAPI.Models.News
@{ 
    var linkDetalimg = "https://localhost:44363/" + Model.Image;
    var NewOfCategory = (IEnumerable<WebAPI.Models.News>)ViewBag.NewOfCategory;
}
    <!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>News</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a>News</a></li>
                    <li class="breadcrumb-item active">News Detail</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start NEWS DeTAIL  -->

<div class="container">
    <div class="tetail_news">
        <h1 class="custom_tetail_new">
            <p>@Model.Name</p>
        </h1>
        <ul class="tac_gia_datetime">
            <li class="Tac_gia"><strong>@Model.CreatedBy</strong></li>
            <li class="datetime">@Model.CreatedDate</li>
        </ul>
        <section class="row">
            <div class="col-md-8">
                <p class="Description_title_text">
                    @Model.Detai_Name
                </p>
                <div class="detail_new">
                    <img src="@linkDetalimg"  style="width: 100%;"/>
                </div>
                <div class="content_new">
                    <p>
                        @Model.Content_news
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container title_catelogy">
                    <h3>CÓ THỂ BẠN QUAN TÂM</h3>
                </div>

                @foreach (var item in NewOfCategory)
                {
                    var imgNewDetail = "https://localhost:44363/" + item.Image;
                    <div class=" container news_list">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 picture_option">
                                <p class="Picture_new">
                                    <a asp-controller="TheWayShop" asp-action="News_Detail" asp-route-id="@item.ID" asp-route-cate="@item.ID_Catelogy"><img class="img_news" src="@imgNewDetail"></a>
                                </p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                <div class="title_content_news">
                                    <a asp-controller="TheWayShop" asp-action="News_Detail" asp-route-id="@item.ID" asp-route-cate="@item.ID_Catelogy"> <h3>@item.Name</h3></a>
                                </div>
                                <div class="datetime_news">
                                    <span class="date">@item.CreatedDate</span>
                                </div>
                                <div class="Danh_muc_lien_quan">
                                    <span>
                                        <p>Danh mục:&nbsp;<strong class="sp_lien_quan">Cặp</strong></p>
                                    </span>
                                </div>
                                <div class="content_news">
                                    <p>@item.Detai_Name</p>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>
<!-- End NEWS DeTAIL-->
