   <!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Tin Tức</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","TheWayShop")">Home</a></li>
                    <li class="breadcrumb-item active">Tin Tức</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start NEWS  -->
@{ 
    var ListNews= (List<WebAPI.Models.News>)ViewBag.ListNews;
}
<section class=" container section_news">
    <div class="row">
        <!-- LIST NEWS  -->
        <div class="col-md-8">
            <div class="container title_catelogy">
                <h3>TIN TỨC MỚi NHẤT</h3>
            </div>
            
            @foreach (var item in ListNews)
            {
                var linkimg = "https://localhost:44363/" + item.Image;
                <div class=" container news_list">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 picture_option">
                            <p class="Picture_new">
                                <a asp-controller="TheWayShop" asp-action="News_Detail" asp-route-id="@item.ID"  asp-route-cate="@item.ID_Catelogy"><img class="img_news" src="@linkimg" alt=""></a>
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                            <div class="title_content_news">
                                <a asp-controller="TheWayShop" asp-action="News_Detail" asp-route-id="@item.ID" asp-route-cate="@item.ID_Catelogy"> <h3>@item.Name</h3></a>
                            </div>
                            <div class="datetime_news">
                                <span class="datetime">@item.CreatedDate</span>
                            </div>
                            <div class="content_news">
                                <p>@item.Detai_Name</p>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="col-md-4">

        </div>
    </div>
    <!-- LIST ADS  -->

</section>

<!-- End NEWS -->