   <!-- Start All Title Box -->
@model WebAPI.Models.Product
@using Microsoft.AspNetCore.Http
@{
    TimeSpan time = DateTime.Now - Model.CreatedDate;
    decimal giaChSale = Model.Price * Model.PromotionPrice / 100;
    decimal GiaSpDaSale = Model.Price - giaChSale;
    String ConvGiaSpDaSale = String.Format("{0:#,#.##}", GiaSpDaSale);
    String ConvPrivcie = String.Format("{0:#,#.##}", Model.Price);
    var ProSize = (List<WebAPI.Models.ProductSize>)ViewBag.ProSize;
    var ProOfCategory = (IEnumerable<WebAPI.Models.Product>)ViewBag.ProOfCategory;
    var linkDetalimg = "https://localhost:44363/" + Model.Image;
}
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Chi tiết sản phẩm</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a>Shop</a></li>
                    <li class="breadcrumb-item active">Chi tiết sản phẩm </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Detail  -->
<div class="shop-detail-box-main">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active"><img class="d-block w-100" src="@linkDetalimg" alt="First slide"> </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6">

                <div class="single-product-details">
                    <h2>@Model.Name</h2>
                    <h5> <del>@ConvPrivcie</del> @ConvGiaSpDaSale</h5>
                    <p class="available-stock"><span> Còn hơn @Model.Total_Quality sản phẩm / <a>8 đã bán </a></span>
                    <p>
                        <h4>Mô tả sản phẩm: </h4>
                    <p>
                        @Model.Detail
                    </p>
                    <ul>
                        <li>
                            @if (ProSize.Count > 0)
                            {
                                <div class="form-group size-st">
                                    <label class="size-label">Size</label>
                                    <select id="basicSize" class="selectpicker show-tick form-control">
                                        @foreach (var item in ProSize)
                                        {
                                            <option value="@item.ID">@item.Size</option>
                                        }
                                    </select>
                                </div>
                            }
                        </li>

                    </ul>

                    <div class="price-box-bar">
                        <div class="cart-and-bay-btn">
                            <a class="btn hvr-hover" data-fancybox-close="" onclick="AddCart(@Model.ID)">Thêm vào giỏ hàng</a>
                        </div>
                    </div>

                    <div class="add-to-btn">
                        <div class="add-comp">
                            @if (Context.Session.GetString("user1") != null)
                            {
                            <a class="btn hvr-hover" onclick="ProWishList(@Model.ID)" title="Yêu thích">Yêu thích</a>
                            }
                            else
                            {
                                <a class="btn hvr-hover" onclick="showModal('@Url.Action("LoginIndex","User",null,Context.Request.Scheme)','Đăng nhập tài khoản','Trải nghiệm mua hàng.')" title="Yêu thích">Yêu thích</a>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Các sản phẩm cùng danh mục</h1>
                </div>
                <div class="row testttttt">
                    @foreach (var item in ProOfCategory)
                    {
                        var linkimg = "https://localhost:44363/" + item.Image;
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    @if (item.PromotionPrice > 0)
                                    {
                                        <div class="type-lb">
                                            <p class="sale">Giảm giá @item.PromotionPrice%</p>
                                        </div>
                                    }
                                    @if (time.Days < 7)
                                    {
                                        <div class="type-lb1">
                                            <p class="sale">Mới ra mắt</p>
                                        </div>
                                    }
                                    <img src="@linkimg" class="img-fluid" alt="Image" style="height:283px;">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="#" title="Yêu thích"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <a asp-controller="TheWayShop" asp-action="Product_detail" asp-route-id="@item.ID" asp-route-category="@item.ID_Catelogy">
                                    <div class="why-text">
                                        <h4>@item.Name</h4>
                                        <h5>@ConvGiaSpDaSale</h5>
                                        <h6>@ConvPrivcie</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @*bình luận*@
        <div class="row">
            <div class="col-md-7">
                @if (Context.Session.GetString("user1") != null)
                {
                    <form id="BinhLuan" method="post">
                        <textarea class="form-control" id="message" name="message" placeholder="Mời bạn nhập bình luận&nbsp;(*)" rows="4" data-error="Write your message" required></textarea>
                        <input type="hidden" id="ID_Product" value="@Model.ID" />
                        <input class="input_cmt" type="submit" name="submit" value="Bình luận">
                    </form>
                }
                else
                {
                    <a class="btn hvr-hover" onclick="showModal('@Url.Action("LoginIndex","User",null,Context.Request.Scheme)','Đăng nhập tài khoản','Trải nghiệm mua hàng.')" title="Yêu thích">Đăng nhập</a>
                }
                <div class="total_cmt">
                    <span class="_text_total_cmt">đã có <i style="color: red;">@ViewBag.tongCMTofPro</i>  bình luận cho sản phẩm này</span>
                </div>
                @foreach (var item in ViewBag.getCMT)
                {
                    if (Model.ID == item.ID_Product)
                    {
                        <ul class="list_cmt">
                            <li class="info_cmt">
                                <span class="name_user_cmt">@item.CreatedBy</span>
                                <span class="datetime_user_cmt">@item.CreatedDate</span>
                                <div>
                                    <p>@item.Content_CMT</p>
                                </div>
                            </li>
                        </ul>
                    }
                }
            </div>
            <div class="col-md-5"></div>
        </div>
    </div>
</div>
<!-- End Cart -->
<script>
    function myFunction(val) {
        alert("The input value has changed. The new value is: " + val);
    }
    function AddCart(id) {
        var size = document.getElementById("basicSize").value;
        $.ajax({
            url: "@Url.Action("AddProductToCart","Cart")?id=" + id + "&size=" + size,
            cache: false,
            type: "POST",
            success: function (res) {
                if (res == true) {
                    alert("Thêm vào giỏ thành công");
                    window.location.reload();
                }
                else {
                    alert("Thêm vào giỏ hàng thất bại");
                }
            }
        });
    }
    function ProWishList(ID) {
        var data =
        {
            ID_Product: ID
        }
        $.ajax({
            "async": false,
            "crossDomain": true,
            "url": "../../User/InsertWishList",
            "headers": {
                "Content-Type": "application/json",
                "cache-control": "no-cache"
            },
            "method": "POST",
            "data": JSON.stringify(data),
            success: function (res) {
                if (res == true) {
                    alert("Yêu thích sản phẩm thành công");
                    window.location.reload();
                }
                if (res == false) {
                    alert("Sản phẩm này đã yêu thích");
                }
            }
        });
    }
</script>