

  <!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Wishlist</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a>Shop</a></li>
                    <li class="breadcrumb-item active">Yêu thích</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Wishlist  -->
<div class="wishlist-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ảnh sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Đơn giá</th>
                                <th>Xóa</th>
                            </tr>
                        </thead>
                        @foreach (var item in ViewBag.listWishList)
                        {
                            Product product = new Product();
                            @foreach (var rs in ViewBag.dsSP)
                            {
                                if (rs.ID == item.ID_Product)
                                {
                                    product = rs;
                                    break;
                                }
                            }
                            var linkimg = "https://localhost:44363/" + product.Image;
                            <tbody>
                                <tr>
                                    <td class="thumbnail-img">
                                        <a >
                                            <img class="img-fluid" src="@linkimg" alt="" />
                                        </a>
                                    </td>
                                    <td class="name-pr">
                                        <a  asp-controller="TheWayShop" asp-action="Product_detail" asp-route-id="@product.ID" >
                                            @product.Name
                                        </a>
                                    </td>
                                    <td class="name-pr">
                                        <a >
                                            @product.Price
                                        </a>
                                    </td>
                                    <td class="remove-pr">
                                        <a onclick="RemoveItem(@item.ID)">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Wishlist -->
<script>
    function RemoveItem(ID) {
        var data =
        {
            ID: ID
        }
        $.ajax({
            "async": false,
            "crossDomain": true,
            "url": "../User/DeleteWishList",
            "headers": {
                "Content-Type": "application/json",
                "cache-control": "no-cache"
            },
            "method": "POST",
            "data": JSON.stringify(data),
            success: function (res) {
                if (res == true) {
                    alert("Xóa sản phẩm yêu thích thành công");
                    window.location.reload();
                }
            }
        });
    }

</script>
